h1 {
  color: red;
}
.projectile{
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid red;
  // position: relative;
  // left: 100px;
}

.target {
  height: 200px;
  width: 100px;
  background-color: blue;
  position: absolute;
  bottom: 50vh;
  left: 100px;
  animation: targetMove 3s alternate infinite;

}

#wrapper {
  width: 95%;
  position: absolute;
  bottom: 10px;
  height: 200px;
  border: 10px solid red;
}
.hand {
  position: relative;
  bottom: 50px;
  border: 1px solid green;
  width: 200px;
}


@keyframes move {
  0%{transform: translateY(0px) scale(1);}
  // 25%{transform: translateY(-100px);}
  // 50%{transform: translateY(-200px);}
  // 75%{transform: translateY(-300px);}
  100%{transform: translateY(-800px) scale(0);}
}


.move{
  animation: move 3s ease forwards;

}
@keyframes targetMove {
  0% {transform: translateX(0);}
  100% {transform: translateX(500px);}


}
